/* body*/
.body {
        font-family: 'Roboto',sans-serif;
        color: #434455;
        background-color: #FFFFFF;
}

/*reset*/
ul, ol {
        list-style-type: none;
        margin: 0 auto;
        padding-left: 0;
}
img {
        display: block;
}
a {
        text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
        margin-top: 0;
        margin-bottom: 0;
}

/*container*/
.container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}

/* header*/
.page-header {
        border-bottom: 1px solid #e7e9fc;
}
.header-container {
        display: flex;
        align-items: center;
}
.header-nav {
        display: flex;
        align-items: center;
}
.nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
}
/*header logo*/
.header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo {
        margin-right: 76px;
        padding: 24px 0;
}
.studio {
        color:#2e2f42;
}
/*header navigation*/
.contact-list{
        display: flex;
        align-items: center;
        gap: 40px;
}
.menu-nav {
        display: block;
        padding: 24px 0;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2e2f42;
}
.menu-nav:hover, .menu-nav:focus {
        color: #404BBF;
}
.adress {
        font-style: normal;
        margin-left: auto;
}
.adress-nav {
        display: block;
        padding: 24px 0;
        font-family: Roboto;
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
.adress-nav:hover, .adress-nav:focus {
        color: #404bbf;
}
/*end header*/

/*section1*/
.section {
        padding: 188px 0;
        background-color: #2e2f42;
}
.section-main {
        margin: 0 auto;
        margin-bottom: 48px;
        max-width: 496px;
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        background-color: #2E2F42;
}
.section-button {
        font-family: Roboto,sans-serif;
        background-color: #4D5AE5;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        display: block;
        min-width: 169px;
        border-radius: 4px;
        height: 56px;
        border: none;
        margin: 0 auto;
}
.section-button:hover, .section-button:focus {
        background-color:#404BBF;
}
/*end section1*/

/*section 2*/
.second-section {
        padding: 120px 0;
}
.invisible-features{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.features-ul {
        display: flex;
        gap: 24px;
}
.features-li{
        max-width: calc((100% - 72px)/4);
}
.feature-section {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
        margin-bottom: 8px;
}
.feature-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
/*end section2*/

/*section 3*/
.our-team {
        background-color: #F4F4FD;
        padding: 120px 0;
}
.color {
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;

}
.team-ul {
        display: flex;
        gap: 24px;
}
.container-team {
        padding: 32px 0;
}
.team {
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color:#2E2F42;
        margin-bottom: 72px;
}
.team-section {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 8px;
}
.team-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;    
}
/*end section3*/

/*section 4*/
.portfolio {
        padding: 120px 0;
}
.portfolio-ul {
        display: flex;
        gap: 24px;
        row-gap: 48px;
        flex-wrap:wrap;
}
.container-portfolio {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.portfolio-section {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
        margin-bottom: 8px;
}
.portfolio-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
/*end section 4*/

/*footer*/
.footer {
        background-color:#2e2f42;
        padding: 100px 0;
}
.footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
        display: inline-block;
}
.studio-logo {
        color: #f4f4fd;
}
.footer-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #F4F4FD;
        background-color: #2E2F42;
        max-width: 264px;
}
/*end footer*/